body {
    background-color: #F2F2F2;
}
.navbar-collapse.collapse {
    background-color: white;
}
.container-fluid {
    background-color: white;
}
.col-sm-12 {
    background-color: #F2F2F2;
}
.row {
	background-color: #F2F2F2;
}
.main-container.container-fluid.js-quickedit-main-content {
    width: 80%;
}
.views-row {
    text-align: center;
}
.navbar-header {
    width: 100%;
    height: 50px;
}
.region.region-navigation {
    position: absolute;
    left: 1%;
    right: 1%;
    top: 10%;
    bottom: 10%;
}
.dolebas-site-branding {
    margin: 0;
    position: absolute;
    bottom: 15%;
    top: 15%;
}
.dolebas-logo-xs {
    max-height: 25px;
    position: absolute;
    transform: translate(15%, 10%);  
}
.dolebas-logo {
    max-height: 20px;
    position: absolute;
    transform: translate(5%, 20%);      
}
.dolebas-user-email {
    position: absolute;
    right: 0%;
    transform: translate(-50%, 50%);  
}
a {
    color: inherit;
}
.btn-primary {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn-primary:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #e0e0e0;
  border-color: #dbdbdb;
}
.btn-primary:active:focus {
  background-color: #e0e0e0;
  border-color: #dbdbdb;
}