body {
    background-color: #F2F2F2;
}
.navbar-collapse.collapse {
    background-color: white;
}
.container-fluid {
    background-color: white;
}
.col-sm-12 {
    background-color: #F2F2F2;
}
.row {
	background-color: #F2F2F2;
}
.main-container.container-fluid.js-quickedit-main-content {
    width: 80%;
}
.views-row {
    text-align: center;
}
